@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
	margin: 0px;
}

.marginBottom {
	margin-bottom: 10px;
}

.wrapper {
	background: -webkit-linear-gradient(#7D7D7D, #f6f6f6); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#7D7D7D, #f6f6f6); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#7D7D7D, #f6f6f6); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#7D7D7D, #f6f6f6); /* Standard syntax */
	min-height: 100vh;
	margin: 0 auto -120px;  /* Pad bottom by footer height */
	padding: 0 0 120px;
}

.navbar-default {
	font-family: 'Open Sans', sans-serif;
	background-color: #f6f6f6;
	margin-bottom: 20px;
	border-radius: 0%;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.navbar-brand,
.navbar-nav li a {
	line-height: 73px;
	height: 73px;
	padding-top: 0;
}

.navbar-default .navbar-brand {
	font-size: 22px;
	margin-right: 20px;
}

.navbar-default .navbar-brand:hover {
	color: #1560BD;
}

.navbar-nav {
	font-size: 19px;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
	color: #1560BD;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #1560BD;
}

.dropdown-menu>li>a:hover {
	color: #1560BD;
}

.navbar-header {
	line-height: 73px;
	height: 73px;
}

.registerForm{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.errorMessage{
	background-color: rgba(255, 0, 0, 0.4);
	border-radius: 5px;
	border-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	color: black;
	font-weight: bold;
	text-align: center;
}


.successMessage{
	background-color: rgba(0, 255, 0, 0.4);
	border-radius: 5px;
	border-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	color: black;
	font-weight: bold;
	text-align: center;
}

.footer-main {
	font-family: 'Open Sans', sans-serif;
	box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.16), 0 2px 10px 5px rgba(0, 0, 0, 0.12);
	background-color: #f6f6f6;
	color: black;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	height: 120px;
	text-align: center;
	border-radius: 0px;
	font-size: 20px;
}

#footerRight {
	text-align: center;
	font-size: 15px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}