@media only screen and (max-width:1360px) {
	#homeJumbo h1 > hr {
		width: 65%;
	}

}

@media only screen and (max-width:833px) {
	#homeJumbo h1 {
		font-size: 80px;
	}

}

@media only screen and (max-width:1424px) {
	#homeJumbo img {
		height: 100%;
	}

}

@media only screen and (max-width:768px) {
	#homeJumbo h1 {
		font-size: 50px;
	}

	#homeJumbo h1 > hr {
		width: 75%;
	}

}

@media only screen and (max-width:480px) {
	.navbar-toggle {
		margin-top: 16px;
	}

	#homeJumbo h1 {
		font-size: 50px;
		line-height: 125px;
	}

	#homeJumbo p {
		font-size: 18px;
	}

	#homeJumbo {
		margin-left: -10px;
		margin-right: -10px;
		height: 250px;
	}

}